html , body {
    /* direction: rtl; */
    background-color: lightgray;
}

h1{
    text-align: center;
    background:rgb(110, 110, 110);
    color: aquamarine;
    margin: auto;
    width: 70%;
    border-radius: 30px;
    font-family: fantasy;
}
.titlee{
    margin-right: 70px;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px; 
}